<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>transcript.fm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- browser tab icon -->
    <link rel="icon" type="png" href="https://www.dropbox.com/s/qhie7cmrf7ctckj/192.png?dl=1">
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:700,400" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600" rel="stylesheet"> 
    
    <!-- icons -->
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">

</head>
<body>
    <!-- navbar -->
<div class="fixed-top container-flex shadow p-1 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-lg-3 col-md-3 d-none d-md-block leftTitle" style="transform:rotate(0);">
            transcript.fm
            <a href="/" class="stretched-link"></a>
        </div>

        <div id="navcenter" class="col-lg-6 col-md-6 centerTitle"></div>
        
        <div id="navright" class="col-lg-3 col-md-3 d-none d-md-block rightTitle" style="transform:rotate(0);">
            <img id="smallImg" src="" style="width:20px; height:20px"/>
            <span id="podcastName"></span>
            <a id="podcastHome" href="#" class="stretched-link"></a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div>this podcaster has not given us permission to display their content</div>

</script>
</body>
</html>